.container {
    display: flex;
    align-items: center;
}

.small, .big {
    display: flex;
    flex-direction: column;
    margin: 50px 0;
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-decoration: none;
}

.small, .big {
    position: relative;
    z-index: 1;
}

.small:before, .big:before,
.small:after, .big:after {
    content: '';
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border: #b9b4b0 solid 1px;
    transition: all 0.6s ease-in-out;
    opacity: 0.2;
}

.small:before, .big:before {
    right: -15px;
    top: -15px;
    border-left: none;
    border-bottom: none;
}

.small:after, .big:after {
    left: 14px;
    bottom: 14px;
    border-right: none;
    border-top: none;
}

.small:hover:before, .big:hover:before,
.small:hover:after, .big:hover:after {
    width: 100%;
    height: 100%;
    opacity: 0.5;
}

.small img, .big img {
    margin-bottom: 15px;
    z-index: 50;
}

.small img {
    width: 450px;
}

.big img {
    width: 550px;
}

.left_marg {
    margin-left: 100px;
}

.right_marg {
    margin-right: 100px;
}


@media all and (max-width: 1400px) {
    .small img {
        width: 400px;
    }
    
    .big img {
        width: 500px;
    }
    
    .left_marg {
        margin-left: 70px;
    }
    
    .right_marg {
        margin-right: 70px;
    }
}

@media all and (max-width: 1200px) {
    .small img {
        width: 350px;
    }
    
    .big img {
        width: 450px;
    }
    
    .left_marg {
        margin-left: 60px;
    }
    
    .right_marg {
        margin-right: 60px;
    }
}

@media all and (max-width: 1000px) {
    .small, .big {
        font-size: 20px;
    }

    .small img {
        width: 300px;
    }

    .small:before, .big:before {
        right: -13px;
        top: -13px;
    }
    
    .small:after, .big:after {
        left: 12px;
        bottom: 12px;
    }
    
    .big img {
        width: 400px;
    }
    
    .left_marg {
        margin-left: 50px;
    }
    
    .right_marg {
        margin-right: 50px;
    }
}

@media all and (max-width: 900px) {
    .small img {
        width: 250px;
    }
    
    .big img {
        width: 350px;
    }
}

@media all and (max-width: 900px) {
    .small img {
        width: 200px;
    }
    
    .big img {
        width: 300px;
    }

    .left_marg {
        margin-left: 35px;
    }
    
    .right_marg {
        margin-right: 35px;
    }
}

@media all and (max-width: 640px) {
    .container {
        flex-direction: column;
    }

    .small img {
        width: 300px;
    }
    
    .big img {
        width: 400px;
    }

    .left_marg {
        margin-left: 0px;
    }
    
    .right_marg {
        margin-right: 0px;
    }
}

@media all and (max-width: 500px) {
    .small img {
        width: 250px;
    }
    
    .big img {
        width: 350px;
    }
}

@media all and (max-width: 420px) {
    .small, .big {
        font-size: 17px;
    }

    .small img {
        width: 190px;
    }
    
    .big img {
        width: 260px;
    }

    .small:before, .big:before {
        right: -11px;
        top: -11px;
    }
    
    .small:after, .big:after {
        left: 10px;
        bottom: 10px;
    }
}

@media all and (max-width: 320px) {
    .small img {
        width: 150px;
    }
    
    .big img {
        width: 210px;
    }
}
