.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 540px;
    margin-top: 100px;
}

.form input, .btn_submit {
    background-color: black;
    color: white;
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
}

.form input {
    width: 100%;
    padding: 30px 30px 5px 30px;
    border: none;
    border-bottom: 0.5px solid white;
    font-weight: bold;
}

.btn_submit {
    width: 200px;
    border: 1px solid rgba(185, 180, 176, .3);
    padding: 10px;
    transition: all 0.5s ease-in-out;
    margin-top: 15px;
    cursor: pointer;
}

.afterMessage {
    margin-top: 110px;
    margin-bottom: 50px;
    color: white;
    font-size: 25px;
    font-family: 'Cormorant Garamond', serif;
}

@media all and (max-width: 600px) {
    .form {
        width: 440px;
    }
}

@media all and (max-width: 480px) {
    .form, .afterMessage {
        width: 340px;
    }

    .btn_submit {
        width: 150px;
        font-size: 14px;
    }
    
    .afterMessage {
        text-align: center;
    }
}

@media all and (max-width: 360px) {
    .form, .afterMessage {
        width: 280px;
    }

    .btn_submit {
        width: 120px;
        padding: 7px;
    }
}
