*{ 
    box-sizing: border-box;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    padding: 20px;
    width: 540px;
    color: white;
    background-color: rgba(185, 180, 176, .4);
}

.form p {
    text-align: center;
    color: rgba(185, 180, 176, .4);
    font-size: 16px;
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom: 15px;
}

.info {
    margin-top: 20px;
    color: #b9b4b0;
}

.cardElement {
    margin-top: 15px;
    width: 500px;
    padding: 10px;
    border: 1px solid rgba(185, 180, 176, .3);
    margin-bottom: 5px;
}

.pay_disabled {
    color: rgba(185, 180, 176, .7);
}


.pay_btn, .pay_disabled {
    width: 200px;
    background-color: black;
    border: 1px solid rgba(185, 180, 176, .3);
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 3px;
    font-size: 16px;
    padding: 10px;
}

.pay_btn {
    color: white;
    transition: all 0.5s ease-in-out;
}

.pay_btn:hover {
    cursor: pointer;
    border: 1px solid rgba(185, 180, 176, .7);
}

@media all and (min-height: 2001px) {
    .form {
        margin-bottom: 50vh;
    }
}

@media all and (min-height: 1741px) and (max-height: 2000px) {
    .form {
        margin-bottom: 40vh;
    }
}

@media all and (min-height: 1500px) and (max-height: 1740px) {
    .form {
        margin-bottom: 35vh;
    }
}

@media all and (min-height: 1200px) and (max-height: 1499px) {
    .form {
        margin-bottom: 30vh;
    }
}

@media all and (min-height: 500px) and (max-height: 1199px) {
    .form {
        margin-bottom: 25vh;
    }
}

@media all and (max-height: 499px) {
    .form {
        margin-bottom: 35vh;
    }
}

@media all and (max-width: 600px) {
    .form {
        width: 440px;
    }

    .cardElement {
        width: 400px;
    }
}

@media all and (max-width: 480px) {
    .form {
        width: 340px;
        padding: 20px 5px;
    }

    .cardElement {
        width: 330px;
        padding: 8px 0;
        margin-top: 0;
    }

    .pay_btn, .pay_disabled {
        width: 150px;
        font-size: 14px;
    }
}

@media all and (max-width: 360px) {
    .form {
        width: 280px;
        padding: 20px 5px;
    }

    .info {
        max-width: 280px;
        text-align: center;
    }

    .cardElement {
        width: 270px;
        padding: 8px 0;
        margin-top: 0;
    }

    .pay_btn, .pay_disabled {
        width: 120px;
        padding: 7px;
    }
}