.cart {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 14px;
    letter-spacing: 3px;
    height: 50px;
    color: white;
    text-decoration: none;
}

.close_btn, .cart {
    cursor: pointer;
}

.checkoutBtn {
    margin-left: 10%;
    width: 80%;
    color: white;
    background-color: black;
    border: 1px solid rgba(185, 180, 176, .3);
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 20px;
    padding: 5px;
    transition: all 0.5s ease-in-out;
}

.checkoutBtn:hover {
    cursor: pointer;
    border: 1px solid rgba(185, 180, 176, .7);
}