.categories {
    width: 25%;
    color: white;
    padding-top: 50px;
    padding-right: 5%;
}

.heading {
    font-size: 27px;
    margin-bottom: 15px;
}

@media all and (max-width: 880px) {
    .categories {
        width: 35%;
    }
}

@media all and (max-width: 650px) {
    .heading {
        font-size: 22px;
    }
}

@media all and (max-width: 480px) {
    .categories {
        padding-top: 40px;
    }

    .heading {
        font-size: 16px;
        margin-bottom: 7px;
    }
}

@media all and (max-width: 340px) {
    .categories {
        padding-top: 40px;
        width: 40%;
    }

    .heading {
        font-size: 14px;
    }
}