
.login_btn button, .logout_btn button {
    width: 80px;
    background-color: #b9b4b0;
    padding: 4px;
    border: none;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
    color: black;
}
