.slider {
    position: relative;
    overflow: hidden;
    max-width: 100vw;
    height: 900px;
    margin-top: -100px;
    z-index: -1;
}

.slides img {
    max-width: 100%;
    object-fit: cover; 
    object-position: center center;
    min-height: 900px;
    overflow: hidden;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.slides p {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100%;
    height: 100%;
    color: white;
    font-size: 65px;
    position: absolute;
    top: 0;
    z-index: -1;
}

@media all and (max-width: 899px) {
    .slider {
        margin-top: -80px;
    }

    .slides p {
    font-size: 55px;
    }
}

@media all and (max-width: 800px) {
    .slider {
        height: 800px;
    }
}

@media all and (max-width: 700px) {
    .slides p {
    font-size: 41px;
    }
}

@media all and (max-width: 500px) {
    .slides p {
        text-align: center;
        font-size: 34.5px;
        padding: 0 5px;
    }
}

@media all and (max-width: 345px) {
    .slider {
        height: 700px;
    }

    .slides p {
        font-size: 30px;
    }
}

@media all and (max-width: 300px) {
    .slides p {
        font-size: 28px;
    }
}